<a href="https://colab.research.google.com/github/HUFSDavid/midterm24/blob/main/202358104.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ðŸŒ€Midterm 2024: your full name (Student ID)" as a Heading one.

## Index question

In [1]:
# Dropdown

cardinal_number = "2" #@param = ["1","2","3","4"]

# Add one line of code below
cardinal_number = int(cardinal_number)

# Ordinal expression as a list

words = ["First", "Second", "Third","Fourth"]

print("The ordinal expression:", words[cardinal_number])

The ordinal expression: Third

In [4]:
# Dropdown

cardinal_number = "2" #@param = ["1","2","3","4"]

# Add one line of code below
cardinal_number = int(cardinal_number) -1   #Index starts from 0!

# Ordinal expression as a list

words = ["First", "Second", "Third","Fourth"]

print("The ordinal expression:", words[cardinal_number])

The ordinal expression: Second

## variable question

In [12]:
#'Mary, 1998, Ohio; and John, 1999, Boston.'

x = input("name: ")
y = input("born in: ")
z = input("hometown: ")


print(f"Hello, my name is {x}. I was born in {y}, and I'm from {z}. Nice to meet you.")

name: Mary
born in: 1998
hometown: Ohio
Hello, my name is Mary. I was born in 1998, and I'm from Ohio. Nice to meet you.

## Name question

In [19]:
#Name question
x = "My name is "
y = 'Taehwi.'
print (x+y)

My name is Taehwi.

## dictionary question

In [21]:
grades = {"Jack": 30, "John": 40, "Bob": 50}
print(grades["Bob"])

50

## Function question

In [30]:
def divide(x, y):
    return x / y

result = divide(20, 4)
print("The result of division is:", result)

The result of division is: 5.0

## GTTs question